#offcanvas-cart {
  width: 500px;
}

.cart-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.delete-icon {
  height: 20px;
  width: 20px;
  vertical-align: baseline;
  cursor: pointer;
}

.sum {
  font-size: 20px;
  font-weight: 700;
}

.checkout {
  width: 100%;
}
